<% if flash[:notice] %>
	<p class="ok"><%= flash[:notice] %></p>
<% end %>
<% if flash[:aaa] %>
	<p class="ok"><%= flash[:aaa] %></p>
<% end %>
<p>
	<strong>Title:</strong>
	<%= @book.title %>
</p>
<p>
	<strong>Body:</strong>
	<%= @book.body %>
</p>

<p class="show-manu"><%= link_to "Edit",edit_book_path(@book) %> | <%= link_to "Back",books_path %></p>